* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6ba6ff;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  color: #333;
}



.title {
  padding: 20px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
  font-size: 2em;
}

.main {
  width: 80vw;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.container {
  padding: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #DDDEDE;
  border-radius: 10px;
  width: 40vw;
}

.label {
  color: #080202;
  display: block;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.button {
  border: 0;
  color: #ffffff;
  font-weight: bold;
  background-color: #0062f5;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.button:first-child {
  margin-left: 0;
}

.button:hover {
  background-color: #004bb5;
}

.text-input {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fcfcfa;
}

footer {
  text-align: center;  
  width: 100%;
  padding: 10px 0;
  background-color: #03104b;
  position: fixed;
  bottom: 0;
}

.footer-text {
  font-size: 15px;
  color: silver;
}
